body {
    font-family: "Segoe UI";
    background: linear-gradient(to bottom right,#372a8a,#211088 );
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

.week-box-none {
    background: #2f2379;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    pointer-events: none;
}

.week-box-none:hover {
    background: #2b226e;
    transform: scale(1.05);
}

.week-box-none h2 {
    margin: 0;
    font-size: 22px;
}

.week-box-none p {
    margin-top: 5px;
    font-size: 14px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.week-box {
    background: #2f2379;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.week-box:hover {
    background: #2b226e;
    transform: scale(1.05);
}

.week-box h2 {
    margin: 0;
    font-size: 22px;
}

.week-box p {
    margin-top: 5px;
    font-size: 14px;
}
/* Style cho trang week */
.back-link {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 15px;
    background: #2f2379;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.back-link:hover {
    background: #2b226e;
}

.task-box {
    background: #2f2379;
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.task-box:hover {
    background: #2b226e;
    transform: scale(1.05);
}

.task-box h3 {
    margin: 0;
    font-size: 20px;
}
/*----------------------------Style Bai JSP-------------------*/
.work {
    font-family: "Segoe UI";
    background: white;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
    color: #a991f1;
}

.math-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
    background: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    table-layout: fixed;
}

.math-table th {
    background: #a991f1; /* Tím nhạt */
    color: #fff;         /* Chữ trắng nổi bật */
    padding: 12px;
    font-size: 18px;
    text-align: center;
    width: 50%; /* Đảm bảo 2 cột cân nhau */
}

.math-table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}

.math-table tr:nth-child(even) td {
    background: #f9f9f9; /* Hàng xen kẽ */
}

.math-table tr:hover td {
    background: #f1eaff; /* Hover highlight nhẹ tím nhạt */
}
